pip
testresources
setuptools
wheel
Cython; platform_machine == "arm64" or platform_machine == "aarch64"
numpy==1.16.1; platform_machine == "arm64" or platform_machine == "aarch64"
future==0.17.1; platform_machine == "arm64" or platform_machine == "aarch64"
mock==3.0.5; platform_machine == "arm64" or platform_machine == "aarch64"
h5py==2.9.0; platform_machine == "arm64" or platform_machine == "aarch64"
keras_preprocessing==1.0.5; platform_machine == "arm64" or platform_machine == "aarch64"
keras_applications==1.0.8; platform_machine == "arm64" or platform_machine == "aarch64"
gast==0.2.2; platform_machine == "arm64" or platform_machine == "aarch64"
enum34; platform_machine == "arm64" or platform_machine == "aarch64"
futures; platform_machine == "arm64" or platform_machine == "aarch64"
protobuf; platform_machine == "arm64" or platform_machine == "aarch64"
coloredlogs==10.0
jsonschema==3.2.0
tensorflow-gpu<2; platform_machine == "x86_64"
https://developer.download.nvidia.com/compute/redist/jp/v43/tensorflow-gpu/tensorflow_gpu-1.15.0+nv20.1-cp36-cp36m-linux_aarch64.whl; platform_machine == "arm64" or platform_machine == "aarch64"
opencv-contrib-python==4.2.0.32; platform_machine == "x86_64"
pynetworktables==2020.0.2